.DataTable {
  &__row,
  &__row-header {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
    gap: 10px 10px;
    padding: 10px 10px;
  }

  &__row:nth-child(2n) {
    background-color: #f0f0f0;
  }

  &__row-header {
    font-weight: 700;
    border-bottom: 1px solid #d1d1d1;
  }
}